// Navigation code here
.top{
    background-color: #f4f4f4;;

}
h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    color: @ebony-clay;
    flex-basis: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

nav a:hover{
    background: red;
    cursor: pointer;
    color: @porcelain;
}

.btn {
    .createButton(
      1px solid @river-bend,
      120px,
      15px,
      16px,
      10px,
      10px,
      10px,
      8px,
      @btn-bg-color,
      @sea-shell,
      center,
    );}
